/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* Global Background for the entire page */
body {
  color: #fff;  /* White text color for better contrast */
  font-family: 'Arial', sans-serif; /* Common font for readability */
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
}



